.carousel {
    width: 600px;
    height:calc(600px * 0.5625);
    position: relative;
    margin: 0 auto;
    @media all and (max-width: 767px) {
        width: 300px;
        height:calc(300px * 0.5625);
    }
}

.carousel__area {
    position: absolute;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    display: flex;
    height: 100%;
    @media all and (max-width: 767px) {
        width: 1500px;
    }
}

.carousel__list {
    width: 600px;
    height:calc(600px * 0.5625);
    margin-right: 30px;
    list-style-type: none;
    @media all and (max-width:767px){
        width:300px;
        height:calc(300px * 0.5625);
        margin-right: 0;
      }
}

.carousel__img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.arrowWrap__right {
    position: absolute;
    top: 50%;
    left: 10px;
}

.arrowWrap__left {
    position: absolute;
    top: 50%;
    left: calc(600px - 30px - 10px);
    @media all and (max-width: 767px) {
        left: calc(625px / 2);
    }
}

.arrowWrap__left,.arrowWrap__right {
    display: grid;
    border: none;
    background-color: #6fa1ff;
    --w: 30px;
    width: var(--w);
    height: var(--w);
    border-radius: 50%;
    place-items: center;
    cursor: pointer;
}

.arrowWrap__btn.back {
    --w: 50%;
    width: calc(var(--w)/2);
    height: var(--w);
    background: white;
    border: none;
    translate: 0 0;
    clip-path: polygon(0 0, 100% 50%, 0 100%);
}

.arrowWrap__btn.next {
    --w: 50%;
    width: calc(var(--w)/2);
    height: var(--w);
    background: white;
    border: none;
    translate: 0 0;
    clip-path: polygon(0 50%, 100% 0, 100% 100%);
}

.carousel__pagination {
    position: relative;
    text-align: center;
    top: 350px;
    @media all and (max-width:767px){
        top: 200px;
    }
}

.carousel__paginationCircle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #b7d0ff;
    &.target {
        background-color: #6390e5;
    }
    @media all and (max-width:767px){
        width: 25px;
        height: 25px;
    }
}