.carousel {
    width: 600px;
    height:calc(600px * 0.5625);
    position: relative;
    margin: 0 auto;
    @media all and (max-width: 767px) {
        width: 300px;
        height:calc(300px * 0.5625);
    }
}

.carousel__area {
    position: absolute;
    display: flex;
    height: 100%;
    @media all and (max-width: 767px) {
        width: 1500px;
    }
}

.carousel__list {
    width: 600px;
    height:calc(600px * 0.5625);
    margin-right: 30px;
    list-style-type: none;
    @media all and (max-width:767px){
        width:300px;
        height:calc(300px * 0.5625);
        margin-right: 0;
      }
}

.carousel__img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}